.block-icon {
  padding: 9.6rem 0 8.3rem;

  &__single {
    display: flex;
    margin-bottom: 4rem;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__img {
    margin-right: 2rem;
    width: 80px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 3rem;
      margin-right: 2rem;
    }
  }

  &__content {
    @include media-breakpoint-up(md) {
      width: calc(100% - 10.1rem);
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    font-size: 2.4rem;
    line-height: 1.2;

    &::after {
      content: "";
      display: inline-flex;
      width: 6.4rem;
      height: 2px;
      background: $primary;
      margin-top: 12px;
    }
  }

  &__description {
    color: $light-black;
    min-width: 48rem;

    @include media-breakpoint-down(sm) {
      min-width: 30rem;
    }
  }

  &.custom-icons {
    background: $light-gray;
    //margin-top: -3rem;
  }
}

.icon-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 2.4rem;
  }

  &__image {
    height: 105px;
    margin-bottom: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 1.2rem;
  }

  &__description {
    max-width: 33rem;
    color: $light-black;
  }
}
