.accordion {
  margin-top: 3rem;
}

.card {
  border: 0;
  padding: 0;

  &-header {
    background-color: transparent;
    border-bottom: 3px solid #ebebeb;
    padding: 0;
  }

  &-body {
    color: $light-black;
    font-size: 1.6rem;
    padding: 3rem 0;

    h3,
    h4 {
      font-size: 1.8rem;
    }

    ul {
      padding: 0;
      list-style: none;
      /* stylelint-disable */
      li {
        display: flex;
        margin-bottom: 1rem;
        color: $black;

        &::before {
          content: "check_box";
          display: inline-flex;
          color: $primary;
          font-family: 'Material Icons';
          font-size: 2rem;
          line-height: 1.4;
          margin-right: 1rem;
          height: 2.2rem;
        }
      }

      /* stylelint-enable */
    }

    .box-50 {
      width: 50%;
      float: left;
      min-height: 31rem;
      margin-top: 3rem;
      padding-right: 2rem;

      @include media-breakpoint-only(lg) {
        min-height: 48rem;
      }

      @include media-breakpoint-down(md) {
        padding-right: 0;
        width: 100%;
        min-height: auto;
      }

      h3,
      h4 {
        margin-bottom: 2rem;
      }

      &:nth-child(2n) {
        padding-right: 0;

        ul {
          li {
            &::before {
              content: "star";
            }
          }
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      flex-wrap: wrap;
      text-align: right;

      .btn {
        margin: 2rem 0 0;
        min-width: 17.8rem;
      }
    }

    .hidden-form {
      display: none;
      justify-content: flex-start;
      text-align: left;

      .wpcf7-textarea {
        min-height: 279px;

        @include media-breakpoint-down(md) {
          min-height: auto;
        }
      }
    }
  }
}

.career {
  background: $white;
  padding: 4rem 0 14rem;

  @include media-breakpoint-down(md) {
    padding: 0 0 4rem;
  }
}

.btn-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: transparent;
  color: black;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;

  @include media-breakpoint-down(sm) {
    padding: 1rem;
  }

  .date-content {
    margin: 0;
    max-width: 30rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  span.date {
    font-weight: normal;
  }

  span.name {
    max-width: 36rem;
    width: 100%;
    text-align: left;
  }

  &__icon {
    display: inline-flex;
    width: 52%;
    justify-content: flex-end;

    span {
      transition: transform 300ms ease-in;
    }
  }

  &[aria-expanded="true"] {
    .material-icons {
      transform: rotate(180deg);
      transition: all 300ms ease-in;
    }
  }
}
