.offer-center {
  padding: 6rem 0;

  @include media-breakpoint-down(sm) {
    padding: 4rem 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-center {
      max-width: 78rem;
      color: $light-black;
    }

    .custom-list {
      margin-top: 2.4rem;

      ul {
        flex-direction: row;
        flex-wrap: wrap;

        li {
          flex: 0 0 45%;
          padding-left: 5%;
          align-items: center;
          line-height: 1.2;

          @include media-breakpoint-between(md, lg) {
            flex: 0 0 50%;
            padding-left: 0;
          }

          @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            line-height: 1.3;
          }
        }
      }
    }
  }

  &Btn {
    padding: 3.5rem 0;
    background: $white;

    .text-center {
      color: $black;
    }

    h3 {
      font-size: 2.2rem;
    }

    .btn {
      font-size: 2.6rem;
      padding: 1.6rem 10rem;
      font-weight: 700;
      margin-top: 2.4rem;

      @include media-breakpoint-between(xs, sm) {
        padding: 1.6rem 5rem;
      }
    }
  }
}
