.plans {
  padding: 5rem 0 9rem;
  background: $light-gray;

  .title-section {
    margin-bottom: 1.6rem;
  }

  .text-center {
    margin-bottom: 4.8rem;
    color: $light-black;
  }

  .single-plan {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-breakpoint-down(md) {
      margin-bottom: 2rem;
    }

    &__photo {
      display: flex;
      justify-content: center;
      margin-bottom: -7rem;
      z-index: 1;
    }

    &__content {
      background: $white;
      padding: 12rem 1.8rem 2.4rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    &__title {
      font-size: 2.4rem;
    }

    &__text {
      margin-bottom: 2rem;
      color: $light-black;
    }

    &__list {
      margin-bottom: 3rem;
      color: $light-black;
    }

    &__link {
      display: flex;
      justify-content: center;
    }
  }
}

.custom-list {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* stylelint-disable */
    li {
      display: inline-flex;
      align-items: center;
      margin-bottom: 1.6rem;
      line-height: 1;

      &::before {
        content: "check_box";
        display: inline-flex;
        color: $primary;
        font-family: "Material Icons";
        font-size: 2.4rem;
        margin-right: 1rem;
      }
    } /* stylelint-enable */
  }
}
