.contact {
  &-info {
    padding: 5rem 0;
  }

  &-map {
    padding: 5rem 0 0;
    margin-top: 8.7rem;

    @include media-breakpoint-down(lg) {
      margin-top: 1rem;
    }

    @include media-breakpoint-down(md) {
      margin-top: 2rem;
    }

    @include media-breakpoint-down(sm) {
      padding: 2rem 0 0;
    }

    .acf-map {
      height: 45rem;

      @include media-breakpoint-down(md) {
        height: 30rem;
      }
    }

    &__content {
      position: relative;
    }

    &__info {
      position: absolute;
      left: 2.4rem;
      top: 5.6rem;
      max-width: 44rem;
      width: 100%;

      @include media-breakpoint-only(lg) {
        max-width: 36rem;
      }

      @include media-breakpoint-down(md) {
        position: relative;
        left: auto;
        top: auto;
        max-width: 100%;
      }

      &-bg {
        background-color: $white;
        border-left: 4px solid $primary;
        padding: 1rem 2.5rem;

        &:first-child {
          margin-bottom: 2rem;
        }
      }

      .footer__hours {
        font-size: 1.6rem;

        a {
          color: $primary;
          font-weight: bold;
          font-size: 1.8rem;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item {
    background-color: $light-gray;
    padding: 2.4rem 0 2.4rem 2.4rem;
    height: 100%;
    min-height: 200px;
  }

  &__service {
    height: 40px;
    font-size: 2.2rem;
    margin-bottom: 2.2rem;
    color: #c0c0c0;

    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    color: $black;
    margin-top: 1rem;

    span {
      color: $primary;
      margin-right: 1.4rem;
    }
  }

  &__name {
    font-size: 2.2rem;
    font-weight: bold;
    color: $primary;
    margin-bottom: 0.7rem;
    line-height: 1;
  }

  &__department {
    margin-bottom: 2rem;
  }
}

.page-template-template-contact,
.page-id-488,
.page-id-254,
.page-id-271,
.page-917-data {
  #contact {
    background-color: #ebebeb8c;

    .form-control,
    .select2-selection {
      background-color: #171b271a;
    }
  }
}
