.counters {
  background-color: $light-gray;
  padding: 7rem 0 10rem;

  .counter {
    padding: 3.8rem 0;
    text-align: center;

    &__number {
      color: $primary;
      font-size: 3.2rem;
      font-weight: 700;
    }
  }
}
