.curiosities {
  padding-top: 6rem;
  padding-bottom: 6rem;

  .blog {
    &__item {
      margin-bottom: 2.4rem;

      @include media-breakpoint-down(md) {
        margin-bottom: 3.6rem;
      }
    }

    &__title {
      a {
        color: $black;
      }
    }
  }
}
