.form {
  background-color: $white;
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
  color: $dark-gray;

  .heading {
    margin-bottom: 3rem;
    color: $dark-gray;
  }

  label {
    color: #6b6e77;
    margin-bottom: 2.4rem;
    width: 100%;
  }

  .form-control {
    background-color: #e8e9ea;
    border: none;
    border-radius: 0;
    color: #171b27;
    font-size: 1.6rem;
    height: 5.2rem;
    margin-top: 1.2rem;
    padding: 1.4rem 2.4rem;

    &::placeholder {
      color: #b5b7bb;
    }
  }

  textarea.form-control {
    height: 13rem;
  }

  .ajax-loader {
    position: absolute;
  }

  .wpcf7-response-output {
    color: $dark-gray;
  }

  .select2 {
    height: 5.2rem;

    &-container {
      &:focus {
        outline: 0;
      }
    }

    .selection {
      &:focus {
        outline: 0;
      }
    }

    &-dropdown {
      background-color: #dcdddf;
      border-color: $dark-gray;
    }

    &-results {
      &__option {
        &--selected {
          background-color: $dark-gray;
        }

        &--highlighted {
          &.select2-results__option--selectable {
            background-color: $dark-gray;
          }
        }
      }
    }

    &-selection {
      background-color: #e8e9ea;
      border: none;
      border-radius: 0;
      font-size: 1.6rem;
      height: 5.2rem;
      padding: 1.4rem 2.4rem;

      &:focus {
        outline: 0;
      }

      &--single {
        .select2-selection {
          &__rendered {
            color: $dark-gray;
            line-height: 2.4rem;
            padding: 0;
          }

          &__placeholder {
            color: #5d5f69;
            line-height: 2.4rem;
          }

          &__arrow {
            background-color: #dcdddf;
            height: 5.2rem;
            width: 5.2rem;
            top: 0;

            b {
              border-color: $dark-gray transparent transparent transparent;
            }
          }
        }
      }
    }
  }

  .wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    width: 100%;
    height: 5px;
  }
}
