.hero {
  &.about-us {
    background-position: center;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: rgb(255, 255, 255);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.49763655462184875) 100%);
      top: 0;
      left: 0;
    }
  }

  &__content {
    color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .about-us & {
      min-height: 60.8rem;
      padding-top: 13rem;
    }
  }

  &__title {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 2.4rem;

    .about-us & {
      min-height: auto;
    }
  }

  &__description {
    .about-us & {
      text-align: center;
    }
  }
}
