.hero {
  &.contract {
    background-position: center;
    background-size: cover;
    margin-top: 12rem;
    position: relative;
    min-height: 33rem;

    @include media-breakpoint-down(lg) {
      margin-top: 5.2rem;
    }

    @include media-breakpoint-down(sm) {
      background-position: 34%;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: rgb(255, 255, 255);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.49763655462184875) 100%);
    }

    .hero__center {
      min-height: 33rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .hero__title {
      font-size: 3.8rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;

      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
  }

  &.page-service24 {
    @include media-breakpoint-down(sm) {
      background-position: 50%;
    }
  }
}

.breadcrump {
  color: $white;
  display: flex;
  justify-content: center;

  a {
    color: $white;
  }
}
