.home-slider {
  margin-top: 10rem;

  @include media-breakpoint-down(lg) {
    margin-top: 4.2rem;
  }
}

.hero {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;

  &.home {
    @include media-breakpoint-up(lg) {
      .col-12 {
        padding-right: 0;
      }
    }

    .container,
    .row {
      height: 100%;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
    }

    &::before {
      background: rgb(255, 255, 255);
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.49763655462184875) 100%);
    }

    &::after {
      background: rgb(255, 255, 255);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.49763655462184875) 100%);
    }
  }

  &__content {
    color: $white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 0 5rem 12rem 0;
    min-height: 70.9rem;

    @include media-breakpoint-down(md) {
      padding-bottom: 0;
      min-height: 50rem;
    }
  }

  &__title {
    * {
      font-size: 3.8rem;
      font-weight: 700;
      line-height: 1.2;

      @include media-breakpoint-down(lg) {
        font-size: 3.2rem;
      }
    }

    .home & {
      min-height: auto;
    }
  }

  &__description {
    margin-bottom: 2.4rem;
    text-align: left;
    max-width: 58rem;
  }

  &.custom-offer {
    height: 34rem;
    margin-top: 10rem;

    @include media-breakpoint-down(lg) {
      margin-top: 5.2rem;
    }

    @include media-breakpoint-down(md) {
      margin-top: 4.2rem;
    }

    @include media-breakpoint-down(sm) {
      background-position: 34%;
    }

    .container,
    .row {
      height: 100%;
    }

    .hero__content {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: auto;
    }

    .hero__description {
      max-width: 700px;
      text-align: center;
      color: $light-white;
    }
  }
}
