.home-offer {
  background-color: $light-gray;
  margin-top: -13rem;
  padding-bottom: 6.5rem;

  @include media-breakpoint-down(lg) {
    margin-top: 0;
    padding-top: 6.5rem;
  }

  .main-block {
    background-color: $white;
    margin-bottom: 0.5rem;

    &__image {
      position: relative;

      &::after {
        background-color: $white;
        bottom: -1.6rem;
        content: "";
        height: 3.2rem;
        position: absolute;
        right: 4.5rem;
        transform: rotate(45deg);
        width: 3.2rem;
        z-index: 2;
      }
    }

    &__img {
      width: 100%;
    }

    &__content {
      padding: 3.5rem 4.4rem 4.4rem 2.5rem;
    }

    &__title {
      font-size: 2.4rem;
      margin-bottom: 1.3rem;
    }

    &__description {
      color: $light-black;
      margin-bottom: 2.4rem;
      line-height: 1.3em;
    }
  }

  .small-blocks {
    @include media-breakpoint-down(lg) {
      margin-bottom: 2.4rem;
    }
  }

  .small-block {
    background-color: $white;
    color: $black;
    display: block;
    margin-top: 1.9rem;
    padding: 1.9rem 2.4rem;

    h3 {
      font-size: 1.8rem;
      margin-bottom: 0;
    }

    /* stylelint-disable */
    &::after {
      content: "keyboard_arrow_right";
      color: $black;
      font-family: "Material Icons";
      font-size: 2.4rem;
      position: absolute;
      right: 2rem;
      top: 3.6rem;
    }
    /* stylelint-enable */
  }

  .mid-block {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    position: relative;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    &:first-child {
      margin-top: 0;
    }

    &__image {
      flex: 0 0 28rem;
      position: relative;

      @include media-breakpoint-down(lg) {
        flex: 0 0 100%;
        height: 400px;
      }

      @include media-breakpoint-down(sm) {
        height: 300px;
      }

      &::after {
        background-color: $white;
        bottom: 2.6rem;
        content: "";
        height: 3.2rem;
        position: absolute;
        right: -1.6rem;
        transform: rotate(45deg);
        width: 3.2rem;

        @include media-breakpoint-down(lg) {
          bottom: -1.6rem;
          right: 4.5rem;
        }
      }
    }

    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @include media-breakpoint-down(lg) {
        width: 100%;
        max-width: 100%;
      }
    }

    &__content {
      padding: 3rem 2.1rem 10.2rem 2.4rem;

      @include media-breakpoint-down(lg) {
        padding: 3rem 2.1rem 3rem 2.4rem;
      }
    }

    &__title {
      font-size: 2.4rem;
      margin-bottom: 1.2rem;
    }

    &__description {
      color: $light-black;
      line-height: 1.375em;

      @include media-breakpoint-down(lg) {
        margin-bottom: 2.4rem;
      }
    }

    &__link {
      bottom: 2.4rem;
      position: absolute;
      right: 2.4rem;

      span {
        font-size: 2.4rem;
      }

      @include media-breakpoint-down(lg) {
        bottom: 0;
        position: relative;
        right: 0;
        text-align: right;
      }
    }

    .btn {
      padding: 1rem 1.2rem;
    }
  }
}
