.blog {
  background-color: $light-gray;
  padding-bottom: 12.8rem;
  padding-top: 6.4rem;

  &__image {
    height: 20rem;
    margin-bottom: 2.4rem;
  }

  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__title {
    margin-bottom: 1.2rem;
  }

  &__description {
    color: $light-black;
  }

  &__button {
    border: 0;
    color: #152972;
    font-size: 1.8rem;
    font-weight: 700;

    &:hover {
      color: #11225e;
    }
  }

  &__link {
    bottom: 0;
    position: absolute;

    span {
      font-size: 2.4rem;
      font-weight: 600;
      margin-left: 0.8rem;
      margin-top: -0.3rem;
      vertical-align: middle;
    }
  }

  &__item {
    padding-bottom: 3rem;
  }

  .heading {
    margin-bottom: 3.9rem;
  }

  .slick {
    &-slide {
      margin: 0 1rem;
    }

    &-list {
      margin: 0 -1rem;
    }

    &-dots {
      display: flex;
      justify-content: center;
      list-style: none;
      margin-top: 4rem;
      padding: 0;

      @include media-breakpoint-down(sm) {
        bottom: -65px;
      }

      button {
        background-clip: content-box;
        background-color: $dark-gray;
        border: none;
        font-size: 0;
        height: 2.4rem;
        opacity: 0.5;
        padding: 0.6rem;
        width: 2.4rem;
      }

      .slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
}
