.authorizations {
  padding-bottom: 10rem;
  padding-top: 5rem;

  @include media-breakpoint-down(lg) {
    padding-bottom: 5rem;
  }

  &__logos {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__description {
    color: $light-black;
    margin-bottom: 4rem;
    text-align: center;
  }

  &__logo {
    align-items: center;
    display: flex !important;
    height: 8rem;
    justify-content: center;
  }

  &__img {
    opacity: 1;
    max-height: 6rem;
    max-width: 100%;
  }

  .heading {
    margin-bottom: 2.4rem;
  }

  .slick {
    &-slide {
      margin: 0 1rem;
    }

    &-list {
      margin: 0 auto;
      max-width: calc(100% - 12rem);
      width: 100%;
      padding: 0 1rem !important;
    }

    &-prev,
    &-next {
      background-color: $white;
      border: none;
      font-size: 0;
      height: 5rem;
      width: 5rem;
    }

    &-prev {
      /* stylelint-disable */
      &::after {
        content: "keyboard_arrow_left";
        color: $black;
        font-family: "Material Icons";
        font-size: 2.4rem;
      }
      /* stylelint-enable */
    }

    &-next {
      /* stylelint-disable */
      &::after {
        content: "keyboard_arrow_right";
        color: $black;
        font-family: "Material Icons";
        font-size: 2.4rem;
      }
      /* stylelint-enable */
    }
  }
}

body.page-template-template-offer-modules {
  .authorizations {
    background-color: $white;
  }
}
