.insurance {
  background-color: $light-gray;
  padding: 5rem 0 6rem;

  &__title {
    margin-bottom: 2.4rem;
  }

  &__description {
    margin-bottom: 6.4rem;
    text-align: center;
  }

  &-block {
    background-color: $white;
    height: 100%;

    &__image {
      height: 29rem;
    }

    &__img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    &__content {
      padding: 3.5rem 2.5rem 3.4rem 2.5rem;
    }

    &__title {
      font-size: 2.4rem;
      margin-bottom: 1.2rem;
    }

    &__description {
      color: $light-black;
      line-height: 1.375em;
    }
  }
}
