.image-text {
  padding: 6rem 0 8rem;

  &.revert {
    @media (min-width: 1450px) {
      margin-left: 3.2rem;
    }

    .row {
      @include media-breakpoint-down(md) {
        flex-direction: column-reverse;
      }
    }
  }

  &__photo {
    position: relative;
    width: 98%;
    height: 100%;
    padding-bottom: 2.6rem;

    @include media-breakpoint-up(lg) {
      padding-left: initial;
      padding-right: 5rem;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
    }

    .revert & {
      @media (min-width: 1450px) {
        margin-left: 6rem;
      }

      @include media-breakpoint-up(xl) {
        padding-left: 5rem;
        padding-right: initial;

        @include media-breakpoint-up(xl) {
          margin-left: 6rem;
        }

        @include media-breakpoint-up(lg) {
          padding-left: 5rem;
          padding-right: initial;
        }
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 6rem;
      width: 97%;
    }

    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      width: 95%;
    }

    img {
      width: 100%;
      height: auto;
      z-index: 1;
      position: relative;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -2.6rem;
      background: $light-gray;
      background-clip: content-box;
      width: 100%;
      height: calc(100% - 2.6rem);
      z-index: 0;

      @include media-breakpoint-up(lg) {
        padding-right: 5rem;
      }

      @include media-breakpoint-between(sm, md) {
        right: -3%;
        height: calc(100% - 1.6rem);
        bottom: 0.5rem;
      }

      @include media-breakpoint-down(sm) {
        bottom: -2rem;
        right: -5%;
        height: calc(100% - 1rem);
      }

      .revert & {
        @include media-breakpoint-up(xl) {
          padding-left: 5rem;
          padding-right: initial;
        }
      }
    }
  }

  &__content {
    ul.two-list {
      column-count: 2;
      margin-bottom: 0;

      li {
        flex: 0 0 36% !important;

        @include media-breakpoint-between(md, lg) {
          flex: 0 0 50%;
        }
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
    line-height: 1.2;
  }

  &__desc {
    color: $light-black;

    b,
    strong {
      font-weight: bold;
    }

    p {
      margin-bottom: 3.8rem;
      line-height: 1.3;
    }

    ul {
      padding: 0;
      list-style: none;
      /* stylelint-disable */
      li {
        display: flex;
        margin-bottom: 1rem;

        &::before {
          content: "check_box";
          display: inline-flex;
          color: $primary;
          font-family: "Material Icons";
          font-size: 2.4rem;
          line-height: 1em;
          margin-right: 1rem;
        }
      }

      /* stylelint-enable */
    }
  }

  &.list-row {
    margin: 0;

    .image-text__desc {
      ul {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;

        li {
          flex: 0 0 50%;

          @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
          }
        }
      }
    }
  }

  &.packages {
    background-color: $light-gray;
    padding: 6rem 0 11rem;

    .image-text__content {
      ul {
        columns: 2;

        @include media-breakpoint-down(md) {
          columns: 1;
        }

        li {
          flex-wrap: wrap;

          &::before {
            line-height: 3.4rem;
          }

          h3 {
            display: block;
            width: 80%;
            font-size: 2.2rem;
            color: $primary;

            @include media-breakpoint-only(lg) {
              font-size: 2rem;
            }
          }

          p {
            display: block;
            width: 79%;
            margin-left: 3rem;
            font-size: 1.8rem;
          }
        }
      }
    }
    /* stylelint-disable */

    .image-text__photo {
      width: 100%;

      &:before {
        display: none;
      }
    }

    .image-text__desc {
      p {
        margin-bottom: 1.8rem;
      }
    }
  }
}
