.text-image {
  padding: 4rem 0 5.2rem;

  &__photo {
    position: relative;

    img {
      width: 85%;
      height: 100%;
      position: relative;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    line-height: 1.2;
  }

  &__desc {
    color: $light-black;

    @include media-breakpoint-down(md) {
      margin-bottom: 6rem;
    }

    b,
    strong {
      font-weight: bold;
    }

    ul {
      padding: 0;
      list-style: none;
      /* stylelint-disable */
      li {
        display: flex;
        margin-bottom: 1.6rem;

        &::before {
          content: "check_box";
          display: inline-flex;
          color: $primary;
          font-family: "Material Icons";
          font-size: 2.4rem;
          line-height: 1em;
          margin-right: 1rem;
        }
      } /* stylelint-enable */
    }
  }

  .page-id-271 & {
    &__photo {
      img {
        width: 75%;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }

    &__desc {
      ul {
        column-count: 2;
        margin-top: 2.4rem;

        @include media-breakpoint-down(sm) {
          column-count: 1;
        }
      }
    }
  }

  .page-id-354 & {
    background-color: $light-gray;

    &__photo {
      img {
        width: 50%;
      }
    }
  }
}
