.video-text {
  padding: 12.5rem 0 12.5rem;

  @include media-breakpoint-down(lg) {
    padding: 8rem 0 8rem;
  }

  &__video {
    @include media-breakpoint-down(md) {
      margin-bottom: 6rem;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    line-height: 1.2;
  }

  &__desc {
    color: $light-black;

    b,
    strong {
      font-weight: bold;
    }

    p {
      margin-bottom: 2.4rem;
    }
  }

  &__content {
    @include media-breakpoint-up(lg) {
      padding-left: 5rem;
    }
  }

  .page-id-271 & {
    background-color: $light-gray;
  }
}
