.newsletter {
  padding: 0 0 5.6rem;

  &__photo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -10.2rem;

    @include media-breakpoint-down(lg) {
      margin-bottom: 4rem;
    }

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    img {
      @include media-breakpoint-down(lg) {
        width: 88%;
      }
    }
  }

  &__form {
    margin-top: 2.2rem;
    margin-bottom: 5rem;

    .es_subscription_form {
      display: flex;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }

      .es_spinner_image {
        position: absolute;
        top: 0;
        left: 100%;
      }

      .es-field-wrap {
        margin: 0;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;

        label {
          margin: 0;
          padding: 0;
          display: block;

          .es_txt_email {
            margin: 0;
            height: 55px;
            background: #f3f3f3;
            border: none;
            font-size: 16px;
            display: block;
            width: 100%;
            padding: 0 26px;
            color: $black;

            &::placeholder {
              color: $black;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }

      .es_subscription_form_submit {
        height: 55px;
        width: 18rem;
        background: $primary;
        color: #fff;
        border: none;
        border-radius: 0 !important;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .es_subscription_message {
      display: block;
      text-align: right;
      font-size: 14px;
    }
  }
}
