.btn {
  background-color: $primary;
  border-radius: 0;
  color: $white;
  font-size: 1.6rem;
  line-height: 1;
  padding: 1.5rem 2.9rem;
  text-decoration: none;

  &:hover {
    background-color: $primary-hover;
    color: $white;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &--header {
    padding: 0.6rem 1.4rem;

    span {
      font-weight: 700;
      margin-right: 10px;
    }
  }

  &--minimal {
    background: initial;
    border: 0;
    color: $primary;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0;

    &:hover {
      background: initial;
      color: $primary-hover;
    }
  }

  &-blue {
    span.material-icons {
      font-size: 1.2rem;
    }

    &-text {
      color: $primary;
      background: transparent;
      font-size: 4rem !important;
      border: 5px solid;
    }
  }
}

a,
button {
  &:focus {
    outline: 0;
    box-shadow: none !important;
  }
}
/* stylelint-disable */
#btn-top {
  display: inline-block;
  background-color: $primary;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 55px;
  right: 116px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  @include media-breakpoint-down(lg) {
    bottom: 30px;
    right: 76px;
  }

  &::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 4rem;
    color: $white;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #555;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

