.fixed-icon {
  background: $primary;
  box-shadow: 0 0.6rem 2.2rem rgba(30, 30, 30, 0.2);
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.5s;

  &:hover {
    background: $white;

    .path {
      fill: $primary;
    }
  }

  &-mobile {
    @include media-breakpoint-up(xl) {
      display: none;
    }

    background: $primary;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    right: 2rem;
    bottom: 2.5rem;
    z-index: $z-index-icon;
  }
}

.fixed-phone-number {
  padding: 1.3rem 2rem;
  background: white;
  box-shadow: 0 0.6rem 2.2rem rgba(30, 30, 30, 0.2);
  border-radius: 6rem;
  display: none;
  justify-content: space-between;

  a {
    color: $black;
    font-size: 2.4rem;
  }
}

.fixed-exit-btn {
  height: 3rem;
  width: 3rem;
  margin-left: 2rem;

  &-line {
    height: 0.2rem;
    background: $primary;
    backface-visibility: hidden;
    margin-bottom: 0.6rem;
  }
}

.action {
  right: 5rem;
  bottom: 5rem;
  position: fixed;
  z-index: $z-index-icon;

  @include media-breakpoint-down(lg) {
    display: none;
  }

  .btn {
    &.phone {
      display: flex;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      box-shadow: none;
      background: $primary;
      outline: none;
      padding: 0;
      border: none;
      cursor: pointer;
      z-index: $z-index-icon;
      position: relative;

      &.active {
        background: $white;
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 80%;
        height: 80%;
        background: rgba(21, 41, 114, 0.35);
        top: 0.5rem;
        left: 0.5rem;
        border-radius: 50%;
        transform: scale(2);
        opacity: 0;
        transition: all 200ms cubic-bezier(0.32, 0.4, 0.55, 1.27);
        pointer-events: none;
      }

      &::after {
        transition: all 450ms cubic-bezier(0.32, 0.4, 0.55, 1.27);
      }

      &:active {
        &::before,
        &::after {
          transform: scale(0.95);
          opacity: 0.85;
        }
      }
    }
  }

  .actions {
    box-shadow: 0 0.6rem 2.2rem rgba(21, 41, 114, 0.2);
    padding-left: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    height: 5rem;
    width: 5rem;
    background: $primary;
    border-radius: 5rem;
    z-index: $z-index-icon-actions;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
    overflow: hidden;

    a {
      color: $black;
      font-size: 2.4rem;
      line-height: 5.1rem;
    }

    &.active {
      background-color: $white;
      width: 25rem;
    }
  }
}

.icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  width: 3rem;
  height: 3rem;
  transition: transform 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: $z-index-icon;
  pointer-events: none;

  &.close {
    color: $primary;
    width: 2.4rem;
    height: 2.4rem;
    opacity: 0;
  }

  &.phone {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.btn.phone.active .phone.icon { opacity: 0; }
.btn.phone.active .close.icon { opacity: 1; }

button:active .icon { transform: scale(0.8) translate(-58%, -58%); }

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.contact-tooltip {
  background-color: white;
  box-shadow: 0 0.5rem 2rem -0.4rem #00000080;
  bottom: 14rem;
  color: #000000c2;
  filter: drop-shadow(0 0 1rem #00000010);
  height: 9.4rem;
  opacity: 0;
  padding: 2.3rem 1.2rem 2.3rem 2rem;
  position: fixed;
  right: 7.5rem;
  width: 0;
  visibility: hidden;
  z-index: $z-index-tooltip;

  @include media-breakpoint-down(lg) {
    bottom: 2.1rem;
    right: 10.5rem;
  }

  p {
    opacity: 0;
    margin-bottom: 0;
    visibility: hidden;
  }

  &.is-visible {
    visibility: visible;
    opacity: 1;
    width: 28rem;
    transition: 0.5s;

    @include media-breakpoint-down(sm) {
      padding: 2rem 0.6rem 2rem 1rem;
      width: 20rem;
    }

    p {
      opacity: 1;
      visibility: visible;
      transition: 0.5s;
      transition-delay: 0.6s;
    }
  }

  &::after {
    bottom: -3rem;
    content: "";
    position: absolute;
    right: 0;
    border-left: 2rem solid transparent;
    border-right: 0 solid transparent;
    border-top: 3rem solid $white;

    @include media-breakpoint-down(lg) {
      bottom: 2rem;
      right: -3rem;
      border-left: 2rem solid transparent;
      border-right: 2rem solid transparent;
      border-top: 2rem solid #fff;
      transform: rotate(-90deg);
    }
  }
}
