/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.form {
  &__text {
    color: #6b6e77;
    margin-bottom: 3rem;
    text-align: justify;
  }
}

/* stylelint-disable */
form {
  input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    visibility: hidden;
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
  }

  .wpcf7-list-item-label {
    padding-left: 1.2rem;
  }

  input[type=checkbox]:checked + span:before {
    background: transparent;
  }

  input[type=checkbox]:checked + span:after {
    visibility: visible;
  }

  input[type=checkbox] + span:after {
    display: block;
    position: absolute;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    height: 15px;
    width: 15px;
    top: 5px;
    left: 0;
    visibility: hidden;
    font-size: 9px;
    text-align: center;
    line-height: 15px;
    color: $dark-gray;
  }

  input[type=checkbox] + span:before {
    display: block;
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    top: 5px;
    left: 0px;
    border: 1px solid $dark-gray;
    border-radius: 2px;
  }
}
