h2,
.h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 2rem;
  font-weight: 700;
}

.heading {
  position: relative;

  &--extra {
    padding-top: 0.2rem;

    &::before {
      background-color: $primary;
      content: "";
      height: 0.2rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 6.4rem;
    }
  }

  &--center {
    text-align: center;

    &.heading--extra {
      &::before {
        left: 0;
        margin: 0 auto;
        right: 0;
      }
    }
  }

  &--white {
    color: $white;
  }
}
