.footer {
  background-color: $dark-gray;
  color: $white;
  padding: 6rem 0;

  @include media-breakpoint-down(lg) {
    padding-bottom: 6.5rem;
    padding-top: 6.5rem;
  }

  &__map {
    margin-top: -8.2rem;
    margin-bottom: 1.8rem;
    max-width: 100%;
    height: 31rem;

    @include media-breakpoint-down(lg) {
      margin-top: 0;
    }
  }

  &__links {
    align-items: center;
    display: flex;

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &__copyright {
    opacity: 0.5;

    @include media-breakpoint-up(xl) {
      margin-left: 1.2rem;
    }
  }

  &__address {
    margin-bottom: 2rem;
  }

  .heading {
    color: $white;
    margin-bottom: 2.4rem;
  }

  .col-lg-5 {
    margin-left: -12rem;
    margin-right: 12rem;
    padding-bottom: 6.5rem;
    padding-top: 6.5rem;

    @media (max-width: 1440px) {
      margin: 0;
    }

    @include media-breakpoint-down(lg) {
      margin: 0 0 6rem;
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .nav {
    padding: 0;

    &bar-footer {
      display: flex;
      flex-direction: row;
      list-style: none;
      padding: 0;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      .nav-item {
        .nav-link {
          color: $white;
          font-weight: 400;
          position: relative;

          @include media-breakpoint-down(lg) {
            padding-left: 0;
          }

          &::after {
            content: "|";
            position: absolute;
            right: -2px;
            top: 4px;

            @include media-breakpoint-down(lg) {
              display: none;
            }
          }
        }

        &:first-child {
          .nav-link {
            padding-left: 0;
          }
        }

        &:last-child {
          .nav-link {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  .social-media {
    margin-top: 4.5rem;

    &__link {
      color: $gray;
      margin-right: 1rem;
      font-size: 2.4rem;
    }
  }

  .widget_nav_menu {
    h3 {
      font-size: 1.8rem;
      margin-bottom: 2rem;

      @include media-breakpoint-down(md) {
        margin-top: 2rem;
      }
    }
  }

  ul.menu {
    margin: 0;
    padding: 0;
    columns: 2;
    list-style: none;

    li {
      padding-bottom: 1rem;

      a {
        color: $gray;
        font-size: 1.6rem;
      }
    }
  }
}
