.topbar {
  background-color: $white;
  height: 8.2rem;
  position: fixed;
  top: 0;
  transition: 0.5s background-color;
  width: 100%;
  z-index: $z-index-header;

  @include media-breakpoint-down(lg) {
    box-shadow: -0.3rem 0.8rem 2rem -2rem $black;
  }

  .logo {
    display: inline-block;
    vertical-align: middle;

    &-text {
      color: $gray;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.6rem;
      margin-left: 1.55rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      text-transform: uppercase;
      transition: 0.5s;
      vertical-align: middle;
    }
  }

  &--dark {
    background-color: $dark-gray;
    box-shadow: none;

    .logo-text {
      color: $white;
    }
  }

  &__brand {
    .logo {
      height: 4.8rem;
    }
  }

  &__additional {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    text-align: right;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    .logo {
      height: 2.8rem;
      margin-right: 2.5rem;
    }

    .btn {
      margin-right: 2.4rem;
    }

    .search-icon {
      cursor: pointer;
      height: 1.6rem;
      position: relative;
      width: 1.6rem;

      &::before {
        background-image: url("/wp-content/themes/volvo/dist/images/loupe.svg");
        background-size: 1.6rem;
        content: "";
        height: 1.6rem;
        position: absolute;
        right: 0;
        width: 1.6rem;
      }
    }
  }

  .container {
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
    position: relative;
  }
}

.hamburger {
  &__span {
    cursor: pointer;
    border-radius: 0.1rem;
    height: 0.4rem;
    width: 3rem;
    background: $gray;
    position: absolute;
    display: inline-block;
    content: "";
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &::before {
      cursor: pointer;
      border-radius: 0.1rem;
      height: 0.4rem;
      width: 3rem;
      background: $gray;
      position: absolute;
      display: inline-block;
      content: "";
      -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      top: -10px;
    }

    &::after {
      cursor: pointer;
      border-radius: 0.1rem;
      height: 0.4rem;
      width: 3rem;
      background: $gray;
      position: absolute;
      display: inline-block;
      content: "";
      -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      bottom: -10px;
    }
  }
}

.header {
  &__hamburger {
    cursor: pointer;
    display: none;
    padding: 1rem 3.5rem 1.6rem 0;
    position: absolute;
    z-index: $z-index-hamburger;
    top: 2.9rem;
    right: 1rem;
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;

    @include media-breakpoint-down(lg) {
      display: block;
    }

    &--is-active {
      .hamburger__span {
        background-color: transparent;

        &::before,
        &::after {
          background-color: $white;
          top: 0;
        }

        &::before {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &::after {
          -webkit-transform: translateY(-10px) rotate(-45deg);
          -ms-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
          top: 1rem;
        }
      }
    }
  }
}

.scroll-lock {
  overflow: hidden;
}

.search-form {
  flex-flow: row;
  height: 44px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  width: 0;

  &.is-active {
    opacity: 1;
    visibility: visible;
    width: 311px;
  }

  .search-field {
    font-size: 16px;
    padding: 21px 10px;

    &:focus {
      box-shadow: none;
      border-color: #ced4da;
      outline: none;
    }
  }
}

.btn--header {
  white-space: nowrap;
  height: 3.2rem;
  opacity: 1;
  visibility: visible;
  transition: 0.5s width, 0.5s opacity, 0.5s visibility;
  width: auto;

  &.is-active {
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
    visibility: hidden;
    width: 0;
  }
}

.admin-bar {
  .topbar {
    top: 3.2rem;
  }
}
