.navbar {
  background-color: $dark-gray;
  box-shadow: -1px 1px 6px -6px #fff;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  top: 8.2rem;
  z-index: $z-index-navbar;

  @include media-breakpoint-down(lg) {
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.5s;
    visibility: hidden;

    &.is-active {
      transform: translateY(0%);
      max-height: calc(100% - 8.2rem);
      opacity: 1;
      overflow: scroll;
      visibility: visible;
    }
  }

  &-nav {
    flex-direction: row;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    .nav-item {
      @include media-breakpoint-down(lg) {
        text-align: center;
      }

      .show-menu {
        display: none;
      }

      .dropdown-menu {
        color: $white;
        background-color: #171c27;

        a {
          color: $white;
        }
      }

      &.menu-item-has-children {
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }

        a {
          &::after {
            display: none !important;
          }
        }

        .show-menu {
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 0;
          background: transparent;

          &::after {
            content: "";
            display: inline-block;
            vertical-align: 0.255em;
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
            background-color: transparent;
            width: 9px;
            height: 5px;
            color: $white;
            margin-left: 1rem;
            padding: 0;
          }
        }
      }

      /* stylelint-disable */
      .dropdown-menu {
        li {
          &:not(.menu-item-has-children) {
            a {
              .show-menu {
                display: none;
              }
            }
          }
        }
      }

      /* stylelint-enable */
      .nav-link {
        color: $white;
        font-weight: 400;
        padding: 1.3rem 1.7rem;

        &:hover {
          background-color: $gray;
        }

        &.dropdown-toggle {
          display: inline-flex;
        }
      }
    }
  }

  .container {
    justify-content: space-around;
  }

  @include media-breakpoint-down(lg) {
    .menu-main-container {
      width: 100%;
    }
  }

  .dropdown {
    &-item {
      font-size: 1.6rem;

      &:focus,
      &:hover {
        background-color: #5b5e66;
      }
    }

    @include media-breakpoint-up(xl) {
      &-menu {
        position: absolute;
      }
    }
  }

  span[itemprop="name"] img {
    width: auto !important;
    height: 18px !important;
  }
}

.admin-bar {
  .navbar {
    top: 11.4rem;
  }
}
