.page-id-254 {
  .text-image {
    background-color: $light-gray;

    .col-lg-6 {
      &:first-child {
        @include media-breakpoint-up(lg) {
          padding-right: 4%;
        }
      }
    }

    &__photo {
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
  }
}
