.page-id-354 {
  .text-list {
    background-color: $light-gray;
    padding: 6.5rem 0 6.5rem;

    &__content {
      @include media-breakpoint-down(md) {
        margin-bottom: 3rem;
      }
    }
  }

  .text__bold {
    @include media-breakpoint-up(lg) {
      padding-right: 9rem;
    }
  }
}
