section.single-post {
  padding: 8rem 0;
}

nav.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 4rem 0;
}

ul.page-numbers {
  display: flex;
  list-style: none;
  border-radius: 0;
  padding: 0;
  margin: 0;

  li {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    margin-left: -$pagination-border-width;
    line-height: $pagination-line-height;
    color: $primary;
    background-color: $pagination-bg;
    border: $pagination-border-width solid $pagination-border-color;

    &:hover {
      color: $pagination-hover-color;
      text-decoration: none;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border-color;
    }

    &:focus {
      z-index: 2;
      outline: 0;
      box-shadow: $pagination-focus-box-shadow;
    }

    &:first-child {
      .page-link {
        margin-left: 0;
      }
    }

    &.disabled .page-link {
      color: $pagination-disabled-color;
      pointer-events: none;
      cursor: auto;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border-color;
    }

    &.active {
      z-index: 1;
      color: $pagination-active-color;
      background-color: $primary;
      border-color: $pagination-active-border-color;
      position: relative;
    }

    a {
      display: inline-flex;
      align-items: center;
      color: $primary;

      &:not(:disabled):not(.disabled) {
        cursor: pointer;
      }
    }
  }
}
