.search-items {
  margin-top: 13rem;
  padding-top: 3rem;
  padding-bottom: 6rem;

  @include media-breakpoint-down(lg) {
    margin-top: 8.2rem;
  }

  &__no-items {
    margin-bottom: 0;
  }

  &__title {
    font-size: 3.8rem;
    margin-bottom: 2.4rem;
  }

  .blog {
    &__item {
      margin-bottom: 2.4rem;

      @include media-breakpoint-down(md) {
        margin-bottom: 3.6rem;
      }
    }

    &__title {
      a {
        color: $black;
      }
    }
  }
}
