.section {
  &--contacts {
    background-color: #ebebeb;
    padding-top: 4.8rem;
    padding-bottom: 13rem;

    @include media-breakpoint-down(lg) {
      padding-bottom: 4.8rem;
    }

    .col-xl-3 {
      @include media-breakpoint-down(lg) {
        margin-bottom: 2rem;
      }

      @include media-breakpoint-down(md) {
        margin-bottom: 3rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .contact {
      background-color: $white;
      text-align: center;
      padding: 5.4rem 1rem;

      &__department {
        margin-bottom: 1.2rem;
      }
    }

    .heading {
      margin-bottom: 3.9rem;
    }

    a {
      color: $black;
      display: block;
      line-height: 1.3em;
    }
  }
}
