.template-service-tires {
  .image-text {
    @include media-breakpoint-up(lg) {
      padding-bottom: 1rem;
    }
  }

  .text-image {
    &__photo {
      justify-content: center;
      display: flex;
    }
  }
}
