.template-about {
  .image-text {
    padding: 4rem 0;

    &.revert {
      padding: 4rem 0;
    }
  }

  .block-icon {
    @include media-breakpoint-up(lg) {
      padding-top: 10rem;
      padding-bottom: 8rem;
    }
  }
}
