html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6em;
  color: $black;
  background: $white;
  font-family: "Source Sans Pro", sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1210px;
  }
}

a,
button {
  transition: 0.5s all;
  outline: 0;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    outline: 0;
  }
}

/* stylelint-disable */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
/* stylelint-enable */
.title-section {
  line-height: 1.1;

  &.topLine,
  &.centerLine,
  &.bottomLine {
    display: flex;
    flex-direction: column;

    &::before {
      content: "";
      display: inline-flex;
      width: 6.4rem;
      height: 0.2rem;
      background: $primary;
      margin-bottom: 1.2rem;
    }
  }

  &.centerLine {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &.bottomLine {
    &::before {
      display: none;
    }

    &::after {
      content: "";
      display: inline-flex;
      width: 6.4rem;
      height: 0.2rem;
      background: $primary;
      margin: 1.2rem 0;
    }
  }
}

strong,
b {
  font-weight: 700;
}

.dropdown-toggle::after {
  margin-left: 0.655em;
  vertical-align: 0.155em;
}
