/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

$black: #000;
$light-black: #000000c2;
$white: #fff;
$light-white: #ffffffbf;
$gray: #5b5e66;
$primary: #152972;
$primary-hover: #11225e;
$dark-gray: #171b27;
$light-gray: #ebebeb;

$grid-gutter-width: 2rem;

$z-index-navbar: 20;
$z-index-hamburger: 20;
$z-index-header: 30;
$z-index-tooltip: 10;
$z-index-icon: 5;
$z-index-icon-actions: 4;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
