.different-offer {
  .single-offer {
    @include media-breakpoint-down(sm) {
      margin-bottom: 2rem;
    }

    &__title {
      margin-bottom: 2.4rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;

    .custom-list__col {
      width: 50%;

      p {
        font-size: 2rem;
      }
    }
  }

  &__image {
    display: flex;
    justify-content: flex-end;
    margin: 3.5rem 0 2.4rem;

    img {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }

  &__image-sec {
    margin-bottom: -17rem;

    @include media-breakpoint-between(sm, md) {
      margin-bottom: -20rem;
      margin-top: 5rem;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 2rem;
    }

    img {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}
