.hero {
  &.offer {
    height: 100vh;

    @include media-breakpoint-only(lg) {
      height: 80vh;
    }

    @include media-breakpoint-down(md) {
      height: 62vh;
    }

    .hero__description {
      max-width: 580px;
      text-align: center;
      line-height: 1.3;
      margin-bottom: 1.6rem;
    }

    .hero__title {
      margin-bottom: 1.8rem;
    }

    .hero__content {
      align-items: center;
      min-height: 70%;
      padding: 13% 0 0;

      @media (max-width: 1440px) {
        padding: 7% 0 0;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
        min-height: 100%;
      }
    }
  }
}
