body.page-template-template-offer {
  background-color: $light-gray;
}

#first-box {
  margin-top: -29rem;

  @include media-breakpoint-only(lg) {
    margin-top: -28.5rem;
  }

  @include media-breakpoint-only(md) {
    margin-top: -23.5rem;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 2rem;
  }
}

.home-offer {
  &.offer-image {
    margin-top: 0;
    background-color: transparent;

    .main-block {
      display: flex;
      flex-direction: column;
      height: 100%;

      @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
      }

      &__content {
        height: calc(100% - 288px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include media-breakpoint-only(lg) {
          height: calc(100% - 220px);
        }

        @include media-breakpoint-down(md) {
          height: calc(100% - 170px);
        }

        @include media-breakpoint-down(sm) {
          height: calc(100% - 178px);
        }
      }

      &__image {
        max-height: 29rem;
        overflow: hidden;

        @include media-breakpoint-between(md, lg) {
          max-height: 22rem;
        }

        @include media-breakpoint-between(sm, md) {
          max-height: 17rem;
        }

        &::after {
          display: none;
        }
      }

      &__link {
        &.right-side {
          display: flex;
          justify-content: flex-end;

          .btn {
            padding: 1.6rem 1.8rem;
            height: 50px;
          }
        }
      }
    }
  }
}
