.list-row {
  margin: 3rem 0 6.4rem;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-height: 513px;
    overflow: hidden;

    @include media-breakpoint-between(md, lg) {
      max-height: 545px;
    }

    img {
      width: auto;
      height: 100%;
    }
  }
}
