.tires {
  margin-bottom: 2.4rem;
}

.single-offer {
  padding: 3.5rem 2.5rem 7rem 2.5rem;
  background: $white;

  &__title {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  &__text {
    color: $light-black;
  }

  &__list-col {
    margin: 4rem 0;

    ul {
      flex-direction: row;
      flex-wrap: wrap;

      li {
        flex: 0 0 50%;

        @include media-breakpoint-down(sm) {
          flex: 0 0 100%;
        }
      }
    }
  }

  &__right-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7.5rem;

    @include media-breakpoint-down(sm) {
      margin: 2rem 0;

      img {
        width: 100%;
      }
    }

    .btn {
      margin-top: 1.2rem;
      padding: 1.5rem 4rem;
    }
  }

  .right-side {
    display: flex;
    justify-content: flex-end;

    .btn {
      padding: 1.6rem 1.8rem;
    }
  }
}
